<div class="container">
    <div class="row">
        <div class="container col-md-9">
            <!-- Default form contact -->
            <form class="text-center border border-light p-5" [formGroup]="reportCrimeForm" (ngSubmit)="addCrime()">

                <p class="h4 mb-4">Record WildLife Crime</p>

                <!-- Name
                  <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">
                 -->
                <!-- Email -->
                <input type="email" [formControlName]="'email'" id="defaultContactFormEmail" class="form-control mb-4"
                    placeholder="Your E-mail address">

                <!-- Subject -->
                <label>Description</label>


                <!-- Message -->
                <div class="form-group">
                    <textarea class="form-control rounded-0" [formControlName]="'description'"
                        id="exampleFormControlTextarea2" rows="3"
                        placeholder="Please provide as much detail as possible"></textarea>

                </div>
                <input type="text" [formControlName]="'geo_location'" id="geo_location" class="form-control"
                    style="margin-top: 5px" placeholder="Click Map or Find Current Location button below">


                <div id="map" class="form-control"></div>

                <!-- Send button -->
                <button (click)="discardCrime()" class="btnDiscard">Discard</button>
                <button class="btnCreateCrime">Submit</button>

            </form>
            <!-- Default form contact -->
            <button (click)="getLocation()" class="btnLocateMe">Locate Me</button>
        </div>
    </div>
</div>