<div class="container">
    <div class="row">
        <hr />
        <div class="container col-md-9">
            <form class="addRecordForm" [formGroup]="addRecordForm" (ngSubmit)="createRecord()">
                <div class="form-group">
                    <div class="addRecordHeader">Add Record</div>
                    <hr />
                    <input type="text" [formControlName]="'name'" class="form-control" style="margin-top: 5px"
                        placeholder="name">
                    <input type="text" [formControlName]="'quantity'" class="form-control" style="margin-top: 5px"
                        placeholder="0">
                    <select [formControlName]="'classification'" class="form-control" [(ngModel)]="selectedValue">
                        <option value="" disabled>Choose a classiciation</option>
                        <option value="Animal">Animal</option>
                        <option value="Plant">Plant</option>
                    </select>
                    <input type="text" [formControlName]="'geo_location'" id="geo_location" class="form-control"
                        style="margin-top: 5px" placeholder="Click Map or Find Current Location button below">
                    <div id="hotel_map" class="form-control"></div>
                    <span>
                        <!-- IMAGE UPLOAD AND PREVIEW -->
                        <span style="color:red;" *ngIf="message">{{message}}</span>
                        <input [formControlName]="'imgURL'"  #file type="file" accept='image/*' (change)="preview(file.files)" />
                        <img [src]="imgURL" height="200" *ngIf="imgURL">
                    </span>
                </div>
                <div style="margin-top: 5px" class="float-right">
                    <button (click)="discardRecord()" class="btnDiscard">Discard</button>
                    <button class="btnCreatePost">Submit</button>
                </div>
            </form>
            <button (click)="getLocation()" class="btnLocateMe">Locate Me</button>
        </div>
    </div>
</div>