<head>
</head>
<body>
    <div>Navbar </div>
<div>Add Record</div>
<div> Record Wildlife Crime</div>

<div class="container">

<!-- #################### Carousel ########################################## -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--all above is necessary for bootstrap to function in this snippet-->



<div class="carousel slide" id="slider" data-ride="carousel">
  <!--indicators-->
  <ol class="carousel-indicators">
    <li data-target="#slider" data-slide-to="0" class="active"></li>
    <li data-target="#slider" data-slide-to="1"></li>
    <li data-target="#slider" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/Badger.jpg">
      <div class="carousel-caption">
        <h4>Welcome</h4>
        <p>Travel! Enjoy!</p>
      </div>
    </div>

    <div class="carousel-item" id="slide2">
      <img src="/assets/img/Blue-tit.jpg">
      <div class="carousel-caption">
        <h4>Welcome</h4>
        <p>Travel! Enjoy!</p>
      </div>
    </div>

    <div class="carousel-item" id="slide3">
      <img src="/assets/img/path.jpg">
      <div class="carousel-caption">
        <h4>Welcome</h4>
        <p>Travel! Enjoy!</p>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 <!-- #################### Carousel END ########################################## -->


<!-- #################### articles ########################################## -->
<div class="container">
    <div class="row">
      <div class="col-sm">
        <h3>{{posts[posts.length-1].title}}</h3>
        {{posts[posts.length-1].content}}
      </div>
      <div class="col-sm">
        <h3>{{posts[posts.length-2].title}}</h3>
        {{posts[posts.length-2].content}}
      </div>
      <div class="col-sm">
        <h3>{{posts[posts.length-3].title}}</h3>
        {{posts[posts.length-3].content}}
      </div>
    </div>
  </div>


</div>
</body>
